@page "/tenant/create"

<h3>TenantForm</h3>

<EditForm Model="@model" OnValidSubmit="OnValidSubmit" >
    <DataAnnotationsValidator />
    <MudCard> 
        <MudCardContent> 
@*             <MudSelect Placeholder="Select culture" @bind-Value="cultureValue" HelperText="CultureInfo" ToStringFunc="@convertFunc" CloseIcon="@Icons.Material.Filled.Flag" AdornmentColor="Color.Tertiary">
                <MudSelectItem Value="ss"></MudSelectItem>
                <MudSelectItem Value="ss"></MudSelectItem>
                <MudSelectItem Value="ss"></MudSelectItem>
                <MudSelectItem Value="ss"></MudSelectItem>
            </MudSelect> *@
            <MudCheckBox @bind-Value="Basic_CheckBox1">Is Parent</MudCheckBox>
            <MudNumericField @bind-Value="model.TenantTypeId" Variant="Variant.Outlined" Label="Tenant Type" HideSpinButtons="true" />
            <MudNumericField @bind-Value="model.ParentTenantId" Variant="Variant.Outlined" Label="Parent Tenant" HideSpinButtons="true" />
            <MudTextField @bind-Value="model.TenantName" Variant="Variant.Outlined" Label="Username" ErrorText="44" For="@(() => model.TenantName)" />
            <MudTextField @bind-Value="model.DatabaseName" Variant="Variant.Outlined" Label="Username" For="@(() => model.DatabaseName)" />
        </MudCardContent> 
        <MudCardActions> 
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="demo-form-button">Register</MudButton>
        </MudCardActions> 
    </MudCard> 
</EditForm>



@code {
    CreateTenantDto model = new CreateTenantDto();
    public bool Basic_CheckBox1 { get; set; } = true;

    private async void OnValidSubmit(EditContext context)
    {   
        var response = await _genericService.Insert(Constants.TenantBaseUrl, model);

        // if (response.Flag)
        // {
        //     model = response.Message.ToList();
        // }
        // else
        // {
        //     Console.WriteLine("Error Occured");
        // }
    }

}
